<a href="https://colab.research.google.com/github/digitaldevansh2003/Community-Crime-Mapping/blob/main/Multivariate%20dataset%20HousePricePrediction%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installation of Libraries

In [19]:
import numpy as np  # Importing the NumPy library and renaming it to "np"
import pandas as pd  # Importing the Pandas library and renaming it to "pd"
import matplotlib.pyplot as plt  # Importing the Pyplot module from the Matplotlib library and renaming it to "plt"
import seaborn as sns  # Importing the Seaborn library and renaming it to "sns"
%matplotlib inline

In [20]:
from google.colab import files


uploaded = files.upload()

Saving Bengaluru_House_Data.csv to Bengaluru_House_Data (1).csv

In [23]:
df = pd.read_csv("Bengaluru_House_Data.csv")

In [3]:
#reading the first few data from the top
df.head()

NameError: name 'df' is not defined

# Data Preprocessig, Cleaning and Exploratry Analysis

In [2]:
#checking the shape of the dataset
df.shape

NameError: name 'df' is not defined

In [1]:
#counting all the null values present in the each columns
df.isnull().sum()

NameError: name 'df' is not defined

In [ ]:
#plotting the heatmap to check the null values in datset (visual representation)
plt.figure(figsize=(16,16))
sns.heatmap(df.isnull())

In [ ]:
#calculating the percentage of missing data in the dataset
df.isnull().sum()/df.shape[0]*100

## Here, the data will be preprocessed for model fitting. In the first scenario, all the columns having category values will be eliminated, and only the columns with numeric values would be processed.

In [ ]:
df.keys()

In [ ]:
#we will drop the columns containg categorical value and a coolumn which has a null value more 20%
df_drop = df.drop(columns=['area_type','availability','location','society'])

In [ ]:
df_drop.head()

In [ ]:
#since, we want to predict the price of the hosue we need to check the types of data present in the dataset
df_drop.info()

In [ ]:
# size and total_sqft are two columns present in object type data, so we need to convert that object Dtype into Float/int Dtype
df_drop['size'].unique

In [ ]:
#it seems that column size has both string and integer stored together in the dataset. so we will sepearte integer from the str value
df_drop['bhk'] = pd.to_numeric(df_drop['size'].str.extract('(\d+)')[0])

In [ ]:
df_drop.head()

In [ ]:
df_drop[50:60]

In [ ]:
#we have extracted numeric value from column size so we will drop that column as well
df_drop.drop(columns=['size'], inplace = True)

In [ ]:
df_drop.head()

In [ ]:
df_drop.isnull().sum(),df_drop.info()

In [ ]:
df_drop.isnull().sum()/df_drop.shape[0]*100, df_drop.shape

In [ ]:
#plotting heatmap to see the missing value present in the new dataframe after dropping the columns
plt.figure(figsize=(16,16))
sns.heatmap(df_drop.isnull())

In [ ]:
#here the range value are converted into single integer
def convertRange_into_singleinteger(a):
    try:
        return float(a)
    except ValueError:
        pass

    try:
        lower_bound, upper_bound = map(float, a.split('-'))
        return (lower_bound + upper_bound) / 2
    except ValueError:
        return None

In [ ]:
#after converting the range value into float type we applied the changes into dataframe
df_drop['total_sqft'] = df_drop['total_sqft'].apply(convertRange_into_singleinteger)

In [ ]:
df_drop.info()

In [ ]:
#checking the null value percentages
df_drop.isnull().sum()/df_drop.shape[0]*100, df_drop.shape

## There are several approaches to handling missing values in a dataset. Since the missing values are less than one %, we will first remove the row that contains them.

In [ ]:
new_df_drop = df_drop.dropna()

In [ ]:
#checking the missing value after dropping the rows which contains missing value
new_df_drop.isnull().sum(),new_df_drop.shape

# Now we will perform Feature Engineering to analyze the data

In [ ]:
new_df_drop.describe()

In [ ]:
# Create a figure and three subplots for each boxplot
fig, (ax1, ax2, ax3, ax4) = plt.subplots(ncols=4, figsize=(15,10))

# Create the first boxplot for total_sqft
ax1.boxplot(new_df_drop['total_sqft'])
ax1.set_title('total_sqft 1')

# Create the second boxplot for bath
ax2.boxplot(new_df_drop['bath'])
ax2.set_title('bath')

# Create the third boxplot for bhk
ax3.boxplot(new_df_drop['bhk'])
ax3.set_title('bhk')

# Create the fourth boxplot for bhk
ax4.boxplot(new_df_drop['balcony'])
ax4.set_title('balcony')

# Show the plot
plt.show()

### The boxplot shows that the dataset has several outliers. Hence, using the quartile approach, we will eliminate the outliers.

In [ ]:
def remove_outliers_quartile(new_df_drop, total_sqft):
    q1 = new_df_drop[total_sqft].quantile(0.25)
    q3 = new_df_drop[total_sqft].quantile(0.75)
    iqr = q3 - q1
    lower_limit = q1 - 1.5 * iqr
    upper_limit = q3 + 1.5 * iqr
    df_filtered = new_df_drop[(new_df_drop[total_sqft] > lower_limit) & (new_df_drop[total_sqft] < upper_limit)]
    return df_filtered
new_df2 = remove_outliers_quartile(new_df_drop, 'total_sqft')

In [ ]:
#checking the difference between dataset before and after removing outliers
print(len(new_df_drop)-len(new_df2))

In [ ]:
new_df2.describe()

In [ ]:
def remove_outliers_quartile(new_df2, bath):
    q1 = new_df2[bath].quantile(0.25)
    q3 = new_df2[bath].quantile(0.75)
    iqr = q3 - q1
    lower_limit = q1 - 1.5 * iqr
    upper_limit = q3 + 1.5 * iqr
    df1_filtered = new_df2[(new_df2[bath] >= lower_limit) & (new_df2[bath] <= upper_limit)]
    return df1_filtered
new_df3 = remove_outliers_quartile(new_df2, 'bath')

In [ ]:
print(len(new_df2)-len(new_df3))

In [ ]:
new_df3.describe()

In [ ]:
def remove_outliers_quartile(new_df3, bhk):
    q1 = new_df3[bhk].quantile(0.25)
    q3 = new_df3[bhk].quantile(0.75)
    iqr = q3 - q1
    lower_limit = q1 - 1.5 * iqr
    upper_limit = q3 + 1.5 * iqr
    df2_filtered = new_df3[(new_df2[bhk] >= lower_limit) & (new_df3[bhk] <= upper_limit)]
    return df2_filtered
new_df4 = remove_outliers_quartile(new_df3, 'bhk')

In [ ]:
print(len(new_df3)-len(new_df4))

In [ ]:
new_df4.describe()

In [ ]:
new_df4.info()

In [ ]:
colors = ['pink', 'lightblue', 'lightgreen', 'yellow']
# Create a figure and three subplots for each boxplot
fig, (ax1, ax2, ax3, ax4) = plt.subplots(ncols=4, figsize=(15,10))

# Create the first boxplot for total_sqft
ax1.boxplot(new_df4['total_sqft'])
ax1.set_title('total_sqft 1')

# Create the second boxplot for bath
ax2.boxplot(new_df4['bath'])
ax2.set_title('bath')

# Create the third boxplot for bhk
ax3.boxplot(new_df4['bhk'])
ax3.set_title('bhk')

# Create the fourth boxplot for bhk
ax4.boxplot(new_df4['balcony'])
ax4.set_title('balcony')

# Show the plot
plt.show()

In [ ]:
#after the preprocessing of data saving the cleaned data into csv
new_df4.to_csv("cleaned_dataset.csv")

In [ ]:
Cleaned_data_ML = pd.read_csv('cleaned_dataset.csv')

In [ ]:
Cleaned_data_ML.head(),Cleaned_data_ML.shape

# Model training and Evaluation
### Splitting cleaned dataset into training and testing dataset and performing ML algorithim

In [ ]:
x = Cleaned_data_ML[['total_sqft','bath','bhk']]
y = Cleaned_data_ML['price']

In [ ]:
#importing all the necessary libraries to perform the ML task
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [ ]:
#splitting the dataset into train, test and split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.25, random_state=10)

In [ ]:
#standardize the numerical variables
scaler = StandardScaler()

In [ ]:
lr = LinearRegression(normalize=True)

In [ ]:
#chain multiple preprocessing and modeling steps into a single pipeline
pipe1 = make_pipeline(scaler, lr)

In [ ]:
#training a machine learning model using a pipeline that preprocesses the data and trains the model
pipe1.fit(x_train,y_train)

In [ ]:
# evaluating a linear regression model's performance on a set of test data
y_prediction_lr = list(pipe1.predict(x_test))
r2_score(y_test, y_prediction_lr)

In [ ]:
# Evaluate the model using mean squared error and mean absolute errro
mse_lr = mean_squared_error(y_test, y_prediction_lr)
mae_lr = mean_absolute_error(y_test, y_prediction_lr)
print("Mean Squared Error:", mse_lr)
print("Mean Absolute Error:", mae_lr)

In [ ]:
#creating an instance of the Lasso class from the Scikit-learn library.
ls = Lasso()

In [ ]:
pipe2 = make_pipeline(scaler, ls)

In [ ]:
pipe2.fit(x_train,y_train)

In [ ]:
y_prediction_ls = list(pipe2.predict(x_test))
r2_score(y_test, y_prediction_ls)

In [ ]:
# Evaluate the model using mean squared error and mean absolute errro
mse_ls = mean_squared_error(y_test, y_prediction_ls)
mae_ls = mean_absolute_error(y_test, y_prediction_ls)
print("Mean Squared Error:", mse_ls)
print("Mean Absolute Error:", mae_ls)

In [ ]:
##creating an instance of the ridge class from the Scikit-learn library.
rg = Ridge()

In [ ]:
pipe3 = make_pipeline(scaler, rg)

In [ ]:
pipe3.fit(x_train,y_train)

In [ ]:
y_prediction_rg = list(pipe3.predict(x_test))
r2_score(y_test, y_prediction_rg)

In [ ]:
# Evaluate the model using mean squared error and mean absolute errro
mse_rg = mean_squared_error(y_test, y_prediction_rg)
mae_rg = mean_absolute_error(y_test, y_prediction_rg)
print("Mean Squared Error:", mse_rg)
print("Mean Absolute Error:", mae_rg)

In [ ]:
from sklearn.svm import SVR
model = SVR()

In [ ]:
pipe4 = make_pipeline(scaler, model)

In [ ]:
pipe4.fit(x_train,y_train)

In [ ]:
y_prediction_svr = list(pipe4.predict(x_test))

In [ ]:
pipe4.score(x_test,y_test)

In [ ]:
# Evaluate the model using mean squared error and mean absolute errro
mse_svr = mean_squared_error(y_test, y_prediction_svr)
mae_svr = mean_absolute_error(y_test, y_prediction_svr)
print("Mean Squared Error:", mse_svr)
print("Mean Absolute Error:", mae_svr)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rf = RandomForestRegressor()

In [ ]:
pipe5 = make_pipeline(scaler, rf)

In [ ]:
pipe5.fit(x_train,y_train)

In [ ]:
y_prediction_rf = list(pipe5.predict(x_test))

In [ ]:
pipe5.score(x_test,y_test)

In [ ]:
# Evaluate the model using mean squared error and mean absolute errro
mse_rf = mean_squared_error(y_test, y_prediction_rf)
mae_rf = mean_absolute_error(y_test, y_prediction_rf)
print("Mean Squared Error:", mse_rf)
print("Mean Absolute Error:", mae_rf)

# Conclusion

In [ ]:
print('LinearRegression Accuracy:', r2_score(y_test, y_prediction_lr))
print('Lasso Accuracy:', r2_score(y_test, y_prediction_ls))
print('Ridge Accuracy:', r2_score(y_test, y_prediction_rg))

print('Support Vector Regressor Accuracy:', pipe4.score(x_test,y_test))
print('RandomForest Regressor Accuracy:', pipe5.score(x_test,y_test))

In [ ]:
print("Mean Squared Error Linear Regression:", mse_lr)
print("Mean Absolute Error Linear Regression:", mae_lr)
print()
print("Mean Squared Error Lasso:", mse_ls)
print("Mean Absolute Error Lasso:", mae_ls)
print()
print("Mean Squared Error Ridge:", mse_rg)
print("Mean Absolute Error Ridge:", mae_rg)
print()
print("Mean Squared Error Support Vector Regressor:", mse_svr)
print("Mean Absolute Error Support Vector Regressor:", mae_svr)
print()
print("Mean Squared Error Random Forest:", mse_rf)
print("Mean Absolute ErrorRandom Forest:", mae_rf)

## We feel embarrassed after seeing the results because the models' accuracy is so poor. As a result, we will preprocess the data once again but in a different way. We will now take into account the location as it is important in determining the price of the house. Also, we should tackle outliers in a different manner.

# Data Preprocessig, Cleaning and Exploratry Analysis

In [ ]:
df.head()

In [ ]:
#dropping the columns containing categorical value and column which has null value more than 20%
whole_new_df = df.drop(columns=['area_type','availability','society','balcony'], axis=1)

In [ ]:
whole_new_df.head()

# Now we will tackle each attribute carefully and make it clean for feeding it to our machine learning model.

In [ ]:
whole_new_df.isnull().sum(), whole_new_df.shape

## Given that there is only one missing value for the location column, we may fill it with the value that has been used the most frequently.

In [ ]:
#count the each instance in column 'location'
#for column in whole_new_df.columns:
#    value_counts = whole_new_df[column].value_counts()
 #   print(f'Counts for {column}:')
  #  print(value_counts)
   # print()

In [ ]:
#count the each instance in column 'location'
whole_new_df['location'].value_counts()

In [ ]:
#now we will fill the missing value with mode value in the column location
whole_new_df['location'] = whole_new_df['location'].fillna(whole_new_df['location'].mode().iloc[0])

In [ ]:
#checking percentage of null value in the dataset
whole_new_df.isnull().sum(), whole_new_df.isnull().sum()/whole_new_df.shape[0]

## Because the location column has no longer missing a value, we can move on to the size. We can estimate the dataset's mode value for that specific column since the missing value is less than one percentage.

In [ ]:
whole_new_df['size'] = whole_new_df['size'].fillna(whole_new_df['size'].mode().iloc[0])

In [ ]:
whole_new_df.isnull().sum()

In [ ]:
whole_new_df['bath'] = whole_new_df['bath'].fillna(whole_new_df['bath'].mode().iloc[0])

In [ ]:
#after filling the missing value in the dataset checking the status of the dataset
whole_new_df.isnull().sum(), whole_new_df.info()

In [ ]:
#plotting heatmap to check if there are any missing value present in the dataset
plt.figure(figsize=(12,12))
sns.heatmap(whole_new_df.isnull())

## We substituted the most often repeated values for the few missing values that were present. Considering the data's distribution might also help you decide whether to use the mean, median, or mode to fill in the missing number.
## Now, we dont have any missing value in the dataset, so we will convert the object type data into float type or int type to make it suitbale for feeding into machine learning model.

In [ ]:
#extracting int from column size
whole_new_df['size_bhk'] = pd.to_numeric(df['size'].str.extract('(\d+)')[0])

In [ ]:
whole_new_df.info()

In [ ]:
whole_new_df['total_sqft'].unique()

In [ ]:
#here the range value are converted into single integer
def convertRange_into_singleinteger(a):
    try:
        return float(a)
    except ValueError:
        pass

    try:
        lower_bound, upper_bound = map(float, a.split('-'))
        return (lower_bound + upper_bound) / 2
    except ValueError:
        return None

In [ ]:
#apply function to apply the changes in dataset
whole_new_df['total_sqft'] = whole_new_df['total_sqft'].apply(convertRange_into_singleinteger)

In [ ]:
whole_new_df.info()

##  At the attribute location, we simply eliminated any leading or trailing white spaces for each value. The locations which had been repeated 20 times or less were then filtered, and they were given the label 'others'.

In [ ]:
#removing any leading or trailing white spaces of each value in the attribute location
whole_new_df['location'] = whole_new_df['location'].apply(lambda x: x.strip())

In [ ]:
location_count = whole_new_df['location'].value_counts()

In [ ]:
#counting location which has been reptaed only 20 times in the dataset
location_count_20 = whole_new_df['location'].value_counts()[location_count<=20]
location_count_20

In [ ]:
#naming all the location to Others which has been repetated 20 times
whole_new_df['location']=whole_new_df['location'].apply(lambda x: 'Other' if x in location_count_20 else x)

In [ ]:
whole_new_df['location'].value_counts()

In [ ]:
whole_new_df.info()

In [ ]:
whole_new_df.drop(['size'],axis=1)

In [ ]:
whole_new_df.describe()

In [ ]:
sns.heatmap(whole_new_df.isnull())

 # Now we will perform Feature Engineering to analyze the data

### Total sqft has a minimum value of 1, which is impossible. As a result, we'll attempt to filter out the total sqft's real minimum value. To filter the values in the dataset, we will add columns like price per square foot (price per sqft) and bedroom per square foot (bhk per sqft).
#### If we take a closer look at the pricing, we can see that it reflects the cost of the entire floor area of the flat. We divide the price by the total square feet of the unit to determine the cost per square foot. We will first multiply the price by 1,000 because it is expressed in thousands of dollars. size has already been converted to size_bhk, we removed the size column.

In [ ]:
whole_new_df['price_per_sqft'] = whole_new_df['price']*1000/whole_new_df['total_sqft']

In [ ]:
whole_new_df['bhk_per_sqft'] = whole_new_df['total_sqft']/whole_new_df['size_bhk']

In [ ]:
whole_new_df.describe()

### In order to determine the standard deviation of the square footage in one bedroom, we constructed the column bhk per sqft. This will enable us to disregard or eliminate values that are lower than that (387)

In [ ]:
whole_new_df = whole_new_df[(whole_new_df['total_sqft']/whole_new_df['size_bhk']>=387)]

In [ ]:
whole_new_df.describe()

## In order to determine whether or not there are outliers in the dataset, we will create a boxplot.

In [ ]:
# Create a figure and three subplots for each boxplot
fig, (ax1, ax2, ax3) = plt.subplots(ncols=3, figsize=(15,10))

# Create the first boxplot for total_sqft
ax1.boxplot(whole_new_df['total_sqft'])
ax1.set_title('total_sqft 1')

# Create the second boxplot for bath
ax2.boxplot(whole_new_df['bath'])
ax2.set_title('bath')

# Create the third boxplot for bhk
ax3.boxplot(whole_new_df['size_bhk'])
ax3.set_title('size_bhk')

# Show the plot
plt.show()

In [ ]:
def remove_outliers_sqft(cf):
    # create an empty dataframe to store the output
    cf_result = pd.DataFrame()
    # group the dataframe by location
    for key, subcf in cf.groupby('location'):
        # calculate the mean and standard deviation of the price_per_sqft column for the current location
        m = np.mean(subcf.price_per_sqft)
        sd = np.std(subcf.price_per_sqft)
        # filter out the rows where price_per_sqft is greater than (mean - 3*std) and less than or equal to (mean + 3*std)
        gen_cf = subcf[(subcf.price_per_sqft > (m-3*sd)) & (subcf.price_per_sqft <= (m+3*sd))]
        # concatenate the filtered dataframe with the output dataframe
        cf_result = pd.concat([cf_result, gen_cf], ignore_index=True)
    # return the output dataframe
    return cf_result

# apply the remove_outliers_sqft function to the df dataframe
whole_new1_df1 = remove_outliers_sqft(whole_new_df)

whole_new1_df1.describe()

In [ ]:
def bhk_remover_outlier(pf):
    # create an empty array to store the indices of rows to be excluded
    exclude_indices = np.array([])
    # group the dataframe by location
    for location, location_pf in pf.groupby('location'):
        # create an empty dictionary to store the statistics for each BHK in the current location
        bhk_stats = {}
        # group the location dataframe by BHK and calculate the mean, std, and count for each BHK
        for bhk, bhk_pf in location_pf.groupby('size_bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_pf.price_per_sqft),
                'std': np.std(bhk_pf.price_per_sqft),
                'count': bhk_pf.shape[0]
            }
        # iterate over each BHK in the current location
        for bhk, bhk_pf in location_pf.groupby('size_bhk'):
            # get the statistics for the previous BHK if it exists and has a count greater than 5
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count'] > 5:
                # exclude the rows where the price_per_sqft is less than the mean of the previous BHK
                exclude_indices = np.append(exclude_indices, bhk_pf[bhk_pf.price_per_sqft < stats['mean']].index.values)
    # drop the excluded rows from the original dataframe and return it
    return pf.drop(exclude_indices, axis='index')

# apply the bhk_remover_outlier function to the df dataframe
whole_new2_df2 = bhk_remover_outlier(whole_new1_df1)

In [ ]:
whole_new2_df2.describe()

In [ ]:
# Create a figure and three subplots for each boxplot
fig, (ax1, ax2, ax3) = plt.subplots(ncols=3, figsize=(15,10))

# Create the first boxplot for total_sqft
ax1.boxplot(whole_new2_df2['total_sqft'])
ax1.set_title('total_sqft 1')

# Create the second boxplot for bath
ax2.boxplot(whole_new2_df2['bath'])
ax2.set_title('bath')

# Create the third boxplot for bhk
ax3.boxplot(whole_new2_df2['size_bhk'])
ax3.set_title('size_bhk')

# Show the plot
plt.show()

In [ ]:
whole_new2_df2.drop(columns=['size','price_per_sqft','bhk_per_sqft'], axis=1, inplace=True)

In [ ]:
sns.pairplot(whole_new2_df2)

In [ ]:
whole_new2_df2.to_csv("practice_cleaned_dataset.csv")

In [ ]:
pp_df = pd.read_csv('practice_cleaned_dataset.csv')

In [ ]:
pp_df.shape

In [ ]:
pp_df.head()

In [ ]:
pp_df = pd.read_csv("practice_cleaned_dataset.csv")

In [ ]:
pp_df.shape

# Model training and Evaluation

In [ ]:
#importing all the necessary libraries to perform the ML task
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [ ]:
x1 = pp_df.drop(columns=['price','Unnamed: 0'])
y1 = pp_df['price']

In [ ]:
x1_train,x1_test,y1_train,y1_test = train_test_split(x1, y1, test_size=0.25, random_state=10)

In [ ]:
column_transformer = make_column_transformer((OneHotEncoder(sparse=False),['location']), remainder ='passthrough')

In [ ]:
scaler = StandardScaler()

In [ ]:
lr1 = LinearRegression(normalize=True)

In [ ]:
pipe6 = make_pipeline(column_transformer,scaler, lr1)

In [ ]:
pipe6.fit(x1_train,y1_train)

In [ ]:
y1_prediction_lr1 = list(pipe6.predict(x1_test))
r2_score(y1_test, y1_prediction_lr1)

In [ ]:
# Evaluate the model using mean squared error and mean absolute errro
mse_lr1 = mean_squared_error(y1_test, y1_prediction_lr1)
mae_lr1 = mean_absolute_error(y1_test, y1_prediction_lr1)
print("Mean Squared Error:", mse_lr1)
print("Mean Absolute Error:", mae_lr1)

In [ ]:
ls1= Lasso()

In [ ]:
pipe11 = make_pipeline(column_transformer, scaler, ls1)

In [ ]:
pipe11.fit(x1_train,y1_train)

In [ ]:
y1_prediction_ls1 = list(pipe11.predict(x1_test))
r2_score(y1_test, y1_prediction_ls1)

In [ ]:
# Evaluate the model using mean squared error and mean absolute errro
mse_ls1 = mean_squared_error(y1_test, y1_prediction_ls1)
mae_ls1 = mean_absolute_error(y1_test, y1_prediction_ls1)
print("Mean Squared Error:", mse_ls1)
print("Mean Absolute Error:", mae_ls1)

In [ ]:
rg1 = Ridge()

In [ ]:
pipe7 = make_pipeline(column_transformer,scaler, rg1)

In [ ]:
pipe7.fit(x1_train,y1_train)

In [ ]:
y1_prediction_rg1 = list(pipe7.predict(x1_test))
r2_score(y1_test, y1_prediction_rg1)

In [ ]:
# Evaluate the model using mean squared error and mean absolute errro
mse_rg1 = mean_squared_error(y1_test, y1_prediction_rg1)
mae_rg1 = mean_absolute_error(y1_test, y1_prediction_rg1)
print("Mean Squared Error:", mse_rg1)
print("Mean Absolute Error:", mae_rg1)

In [ ]:
from sklearn.svm import SVR

In [ ]:
model1=SVR()

In [ ]:
pipe8 = make_pipeline(column_transformer,scaler, model1)

In [ ]:
pipe8.fit(x1_train,y1_train)

In [ ]:
y1_prediction_svr = list(pipe8.predict(x1_test))

In [ ]:
pipe8.score(x1_test,y1_test)

In [ ]:
# Evaluate the model using mean squared error and mean absolute errro
mse_svr1 = mean_squared_error(y1_test, y1_prediction_svr)
mae_svr1 = mean_absolute_error(y1_test, y1_prediction_svr)
print("Mean Squared Error:", mse_svr1)
print("Mean Absolute Error:", mae_svr1)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rfr1 = RandomForestRegressor()

In [ ]:
pipe9 = make_pipeline(column_transformer,scaler, rfr1)

In [ ]:
pipe9.fit(x1_train,y1_train)

In [ ]:
y1_prediction_rf = list(pipe9.predict(x1_test))

In [ ]:
pipe9.score(x1_test,y1_test)

In [ ]:
# Evaluate the model using mean squared error and mean absolute errro
mse_rf1 = mean_squared_error(y1_test, y1_prediction_rf)
mae_rf1 = mean_absolute_error(y1_test, y1_prediction_rf)
print("Mean Squared Error:", mse_rf1)
print("Mean Absolute Error:", mae_rf1)

In [ ]:
from sklearn.linear_model import RANSACRegressor

In [ ]:
ransac1 = RANSACRegressor()

In [ ]:
pipe10 = make_pipeline(column_transformer,scaler, ransac1)

In [ ]:
pipe10.fit(x1_train,y1_train)

In [ ]:
pipe10.score(x1_train,y1_train)

# Comparison of the model's accuracy following the dataset's preprocessing in two distinct methods.

In [ ]:
print('Model Accuracy for the First Case Dataset')
print()
print('LinearRegression Accuracy:', r2_score(y_test, y_prediction_lr)*100)
print('Lasso Accuracy:', r2_score(y_test, y_prediction_ls)*100)
print('Ridge Accuracy:', r2_score(y_test, y_prediction_rg)*100)

print('Support Vector Regressor Accuracy:', pipe4.score(x_test,y_test)*100)

In [ ]:
print('Model Accuracy for the Second Case Dataset')
print()
print('LinearRegression Accuracy:', r2_score(y1_test, y1_prediction_lr1)*100)
print('Lasso Accuracy:', r2_score(y1_test, y1_prediction_ls1)*100)
print('Ridge Accuracy:', r2_score(y1_test, y1_prediction_rg1)*100)

print('Support Vector Regressor Accuracy:', pipe8.score(x1_test,y1_test)*100)
print('RandomForestRegressor Accuracy:', pipe9.score(x1_test,y1_test)*100)